
@{
    ViewBag.Title = "DeleteAll";
}
<div class="jumbotron text-center">
    <div class="col-6 offset-3">
        <h2>TODO list</h2>
    </div>
</div>
<div class="container col-lg-8 col-lg-offset-2">

    <h2>All DONE!</h2><br>
    <h3>Prepare for some new tasks.</h3>
    <hr>
    <br>


<div class="col-lg-offset-2">
    <button class="btn btn-info">@Html.ActionLink("Back to List", "Index")</button>
</div>
</div>

